
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}


/*responsive flex*/
#map{
    min-height: 300px;
    min-width: 300px;
    flex-grow: 1;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main {
    margin: 1em 2em 1em 2em;
    display: flex;
    flex-grow: 1;
}
.geo-info {
    flex-grow: 1;
}


.right-column {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
}
main .box{
    margin: 1em;
}
@media screen and (max-width: 980px) {
    main{
        flex-direction: column;
    }
}
@media screen and (max-width: 680px) {
    main{
        margin: 0;
    }
    main .box, footer{
        margin: 0;
        border-top: 2px solid darkgrey;
    }
    .box{
        box-shadow: none;
    }
}
/*design*/
body{
    background-color: #FAFBFF;
    line-height: 1.2;
}

.box{
    padding: 1em;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.19);
}


/*navbar*/

#check-menu {
    display: none;
}
@media screen and (max-width: 680px) {
    header.box {
        margin: 0;
        padding: .25em;
        width: 100vw;
        position: relative;
        text-align: center;
        height: 40px;
    }

    label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 2;
        line-height: 40px;
    }

    .burger-line {
        position: absolute;
        top: 8px;
        right: 10px;
        width: 35px;
        height: 2px;
        background-color: #000;
        transition: .5s all;
    }

    .second, .third {
        top: 18px;
    }

    .fourth {
        top: 28px;
    }

    .main-menu {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: .5s all;
    }

    a {
        display: block;
        width: 100%;
        padding: 10px;
        color: black;
        text-decoration: none;
        border-top: 1px solid rgba(255, 255, 255, .3);
        background-color: #fff;
    }

    a:hover {
        background-color: rgba(250, 250, 250, .9);
    }

    #check-menu:checked ~ .main-menu {
        max-height: 500px;
        font-size: 16px;
    }

    #check-menu:checked ~ .first {
        display: none;
    }

    #check-menu:checked ~ .second {
        transform: rotate(45deg);
    }

    #check-menu:checked ~ .third {
        transform: rotate(-45deg);
    }

    #check-menu:checked ~ .fourth {
        display: none;
    }
}

/*Make an Images Responsive*/
.icon{
    width: 32px;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}