
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}


/*responsive flex*/
#map{
    min-height: 300px;
    min-width: 300px;
    flex-grow: 1;
    z-index: 0;
}
body {
    background-color: #FAFBFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.3;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body {
        height: 100vh;
    }
    a .facebook-box img,
    a .twitter-box img,
    a .instagram-box img,
    a .vimeo-box img{
        height: 20px;
    }
}
main {
    margin: 1em 2em 1em 2em;
    display: flex;
    flex: 1 0 auto;
}
.geo-info {
    width: 30%;
    flex: 1 0 auto;
}


.right-column {
    display: flex;
    flex: 3 0 60%;
    flex-direction: column;
}
main .box{
    margin: 1em;
}
@media screen and (max-width: 980px) {
    main{
        flex-direction: column;
    }
    .right-column{
        flex: 0 1 auto;
    }
    .geo-info{
        width: auto;
        flex: 0 0 auto;
    }
}
@media screen and (max-width: 680px) {
    main{
        margin: 0;
    }
    main .box, footer{
        margin: 0;
        border-top: 2px solid darkgrey;
    }
    .box{
        box-shadow: none;
    }
}
.box{
    padding: 1em;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.19);
}

/*geo info style*/
.line{
    display: flex;
    justify-content:space-between;
}
.imgs-geo-info{
    display: flex;
}
.btn_next{
    border:none;
    background-color: white;
    cursor: pointer;
}
.arrow{
    transform-origin: 15.65px 0 0;
    width: 15px;
    height: 1px;
    background-color: #4E5C7F;
    z-index: 0;
}
.firstar{
    transform: rotate(-45deg);
}
.secondar{
    transform: rotate(45deg);
}

.geo_name{
    display: block;
    font-size: 1.4em;
    margin-top: 1.2em;
    margin-bottom: .6em;
    color: #4E5C7F;
}

.geo_id{
    color: #7597D6;
    margin-top: .6em;
    margin-bottom: .6em;
}

.btn_copy{
    display: block;
    border: none;
    background-color: #E8F4FF;
    color: darkgrey;
    padding: .7em;
    cursor: pointer;
    margin-top: .6em;
    margin-bottom: .6em;
}

.txt_list{
    margin-top: .6em;
    margin-bottom: .6em;
    display: flex;
    flex-wrap: wrap;
}
.txt_info{
    margin-top: .6em;
    margin-bottom: .6em;
    list-style-type: none;
}
.const{
    width: 40%;
}
.let{
    width: 60%;
    color: darkgrey;
}

.hr_line{
    position: relative;
    margin-top: .6em;
    margin-bottom: .6em;
    left: -2.5%;
    width: 105%;
    height: 2px;
    background-color: #FAFBFF;
}

.btn_edit{
    border: none;
    background-color: #FF6364;
    width: 70%;
    margin-left: 15%;
    color: white;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(255,101,101,0.10);
}
/*geo message style*/


.messages{
    display: flex;
}
.message-txt{
    padding-left: 1em;
    flex: 0 1 auto;
}
.message-txt-content{
    color: darkgrey;
}
.message-header{
    color: #4E5C7F;
}

/*header*/

#check-menu {
    display: none;
}
header.box {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 3em;
    position: relative;
    height: 60px;
    justify-content:space-between;
}
label {
    display: block;
    color: #596889;
    margin-left: .5em;
}
.main-menu {
    display: flex;
    align-items: center;
}
a {
    display: block;
    padding: 1em;
    height: 100%;
    color: #4E5C7F;
    text-decoration: none;

}
a:hover {
     background-color: rgba(240, 240, 240, .9);
 }
.search{
    background: url(img/searchicon.png) no-repeat 5px;
    background-color: rgba(240, 240, 240, .9);
    outline: none;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 260px;
    font-size: .8em;
    padding-left: .8em;
 }
input:focus{
    background: none;
    background-color: rgba(240, 240, 240, .9);
}
@media screen and (max-width: 980px) {
    .user-photo-box{
        display: none;
    }
    .search{
        display: none;
    }
    header.box {
    padding: .25em;
    text-align: center;
    height: 40px;
    min-height: 40px;
}

    label {
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 2;
        line-height: 40px;
    }

    .burger-line {
        position: absolute;
        top: 8px;
        right: 10px;
        width: 35px;
        height: 2px;
        background-color: #4E5C7F;
        transition: .5s all;
    }

    .second, .third {
        top: 18px;
    }

    .fourth {
        top: 28px;
    }

    .main-menu {
        display: block;
        position: absolute;
        width: 100%;
        height: auto;
        margin-left: 0;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: .5s all;
        z-index: 100;
    }

    a {
        display: block;
        width: 100%;
        padding: 10px;
        border-top: 1px solid grey;
        background-color: #fff;
    }

    #check-menu:checked ~ .main-menu {
        border-bottom: 1px solid grey;
        max-height: 500px;
        font-size: 16px;
    }

    #check-menu:checked ~ .first {
        display: none;
    }

    #check-menu:checked ~ .second {
        transform: rotate(45deg);
    }

    #check-menu:checked ~ .third {
        transform: rotate(-45deg);
    }

    #check-menu:checked ~ .fourth {
        display: none;
    }
    header .icon-box{
        width: 32px;
    }
}


/*footer*/

body .footer{
    z-index: 1;
    padding: 0 2em 0 3em;
    display: flex;
    justify-content:space-between;
}
.contact-link{
    display: flex;
    flex: 0 1 50%;
    justify-content:space-between;
    list-style-type: none;
}
.copyright{
    font-size: .7em;
    color: darkgrey;
}
.site_header{
    display: block;
    color: #4E5C7F;
}
@media screen and (max-width: 980px) {
    .contact-link {
        display: none;
    }
}


/*Make an Images Responsive*/
.message-box{
    flex: 0 0 auto;
    display: inline-block;
    width: 32px;
}
.qrcode-box{
    width: 40px;
    align-self: center;
    margin-left: 1em;
}
.icon-box{
    width: 64px;
}
.icon-of-geo-box{
    width: 100px;
}
.user-photo-box{
    width: 45px;
}
.user-photo{
    border-radius: 100%;
}
.facebook-box,
.twitter-box,
.instagram-box,
.vimeo-box{
    width: 20px;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}